.navbar{
    height: 70px;
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}

#searchBox{
    text-align: center;
}
button{
    transition: 0.2s ease-out;
}
.signInBtn{
    color: white;
    background: turquoise;
}
.signUpBtn{
    color: white;
    background-color: #0d6efd;
}
body{
    background-color: #f8f8f8;
}

.signInContainer{
    margin-top: 15vh;
}
.signUpContainer{
    margin-top: 5vh;
}
.signingForm{
    height: 500px;
    width: 350px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 5px;
}
.signUp{
    height: 700px;
    width: 400px;
}
.copyright{
    position: fixed;
    font-size: 15px;
    bottom: 0;
    right: 0;
}

.backButton{
    transition: 0.3s ease-out;
}

.backButton:hover,
.backButton:focus{
    color: lightgrey;
}

.account{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border-style: none;
    background-size: cover;
    background-color: #f8f8f8;
    background-position: center;
    background-repeat: no-repeat;
}
.hover:hover,
.hover:focus{
    filter: brightness(80%);
}

#cookieBtn{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-style: none;
    background-image: url("/images/cookie.png");
    background-size: cover;
    transition: 0.2s ease-out;
}

#cookieBtn:hover{
    height: 60px;
    width: 60px;
}


.userCard{
    width: 18rem;
}

.linker{
    color: white;
    transition: 0.2s ease-out;
}
.linker:hover,
.linker:focus{
    color: turquoise;
}

.listItem{
    margin-right: 10px;
    margin-bottom: 5%;
    width: 150px;
}

.centered {
    position: absolute;
    height: 18rem;
    margin-top: -18rem;
    color: white;
    background-color: grey;
    transition: 0.2s ease-out;
    filter: opacity(0%);
}
.centered:hover{
    filter: opacity(85%);
}

.cardProfileImage{
    margin: 0;
    padding: 0;
    height: 10rem;
    object-fit: cover;
}

.w-200{
    width: 200px;
}
.w-250{
    width: 250px;
}

#map{
    width: 100%;
    height: calc(100vh - 70px);
}

#loader-wrapper{
    opacity: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.loader {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    border: 4px solid turquoise;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: turquoise;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}